.main {
  background-image: url(/images/overview\ city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 4rem;
  font-size: 2rem;
  font-family: "Roboto Condensed";

  &-introduction {
    margin-top: 12rem;

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-bottom: 3rem;

      h1 {
        margin-bottom: 2rem;
        font-family: "Playwrite MX";
      }

      p:nth-of-type(1) {
        margin-bottom: 1.2rem;
      }
    }

    &-content {
      background-image: linear-gradient(#bc78ec, transparent, #bc78ec);
      padding-bottom: 4rem;
      padding-top: 4rem;
      margin-bottom: 5rem;

      h2,
      h3,
      p {
        margin-bottom: 2.5rem;
        text-align: center;
      }

      h2 {
        text-align: center;
      }
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .btn {
        cursor: pointer;
        font-size: 1.8rem;
        border: none;
        font-family: "Roboto Condensed";
        padding: 1.5rem;
      }
    }
  }
}

h2,
h3,
h4,
p {
  margin-bottom: 1.7rem;
}

h2 {
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

#completionMessage {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

#level-1,
#level-2,
#level-3,
#level-4,
#level-5,
#level-6 {
  background-image: url(/images/html\ city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#level-7,
#level-8,
#level-9,
#level-10,
#level-11,
#level-12,
#level-13 {
  background-image: url(/images/css\ city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.level-one {
  .return-to-main {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    text-align: center;

    &-btn {
      cursor: pointer;
      font-size: 1.6rem;
      border: none;
      font-family: "Roboto Condensed";
      padding: 1.5rem;
    }
  }
}

.level-one,
.level-two,
.level-three,
.level-four,
.level-five,
.level-six,
.level-seven,
.level-eight,
.level-nine,
.level-ten {
  margin-top: 12rem;
  padding: 4rem;
  padding-top: 0;
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Condensed";
}

.level-two {
  &-introduction {
    p:nth-of-type(2) {
      margin-bottom: 5rem;
    }
  }
}

.level-five {
  .table-images {
    display: flex;

    #table-outcome {
      align-self: center;
      width: 50%;
      height: 50%;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

.level-six {
  text-transform: capitalize;
}

.level-seven {
  &-images {
    display: flex;
    padding: 4rem;

    #css-1 {
      align-self: center;
      width: 50%;
      height: 50%;
      margin-right: 4rem;
    }
  }
}

.form {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 3rem;
}

input[type="text"],
textarea {
  width: 70%;
  height: auto;
  padding: 1.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  background-color: lightyellow;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}

button[type="submit"]:hover {
  background-color: #555;
  margin-bottom: 3rem;
}
