*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
}

:root {
  font-size: 62.5%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
}
.header-nav-html, .header-nav-css, .header-nav-javascript {
  position: relative;
  width: 33.3333333333%;
  text-align: center;
  font-family: "Playwrite MX";
  margin-top: 0.5rem;
}
.header-nav-button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 2rem;
  font-family: "Roboto Condensed";
}
.header-nav .active {
  position: relative;
}
.header-nav .active > ol {
  display: block;
}
.header-nav-html-list, .header-nav-css-list, .header-nav-javascript-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: lightyellow;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 30;
  width: calc(100% - 2rem);
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
}
.header-nav-html-list h3, .header-nav-css-list h3, .header-nav-javascript-list h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.header-nav-html-list p, .header-nav-css-list p, .header-nav-javascript-list p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-family: "Roboto Condensed";
}

.main {
  background-image: url(/images/overview\ city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 4rem;
  font-size: 2rem;
  font-family: "Roboto Condensed";
}
.main-introduction {
  margin-top: 12rem;
}
.main-introduction-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
}
.main-introduction-title h1 {
  margin-bottom: 2rem;
  font-family: "Playwrite MX";
}
.main-introduction-title p:nth-of-type(1) {
  margin-bottom: 1.2rem;
}
.main-introduction-content {
  background-image: linear-gradient(#bc78ec, transparent, #bc78ec);
  padding-bottom: 4rem;
  padding-top: 4rem;
  margin-bottom: 5rem;
}
.main-introduction-content h2,
.main-introduction-content h3,
.main-introduction-content p {
  margin-bottom: 2.5rem;
  text-align: center;
}
.main-introduction-content h2 {
  text-align: center;
}
.main-introduction-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-introduction-button .btn {
  cursor: pointer;
  font-size: 1.8rem;
  border: none;
  font-family: "Roboto Condensed";
  padding: 1.5rem;
}

#completionMessage {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

#level-1,
#level-2,
#level-3,
#level-4,
#level-5,
#level-6 {
  background-image: url(/images/html\ city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.level-one {
  margin-top: 12rem;
  padding: 4rem;
  padding-top: 0;
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Condensed";
}
.level-one h2,
.level-one h3,
.level-one p {
  margin-bottom: 1.7rem;
}
.level-one h2 {
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.level-one h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.level-one p {
  font-size: 1.8rem;
}
.level-one-introduction, .level-one-content, .level-one-tips {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.level-one .return-to-main {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-align: center;
}
.level-one .return-to-main-btn {
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  font-family: "Roboto Condensed";
  padding: 1.5rem;
}

.form {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 3rem;
}

input[type=text],
textarea {
  width: 70%;
  height: auto;
  padding: 1.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  background-color: lightyellow;
}

button[type=submit] {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}

button[type=submit]:hover {
  background-color: #555;
  margin-bottom: 3rem;
}

.level-two {
  margin-top: 12rem;
  padding: 4rem;
  padding-top: 0;
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Condensed";
}
.level-two h2,
.level-two h3,
.level-two h4,
.level-two p {
  margin-bottom: 1.7rem;
}
.level-two h2 {
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.level-two h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.level-two h4 {
  font-size: 2rem;
}
.level-two p {
  font-size: 1.8rem;
}
.level-two-introduction, .level-two-content, .level-two-usage {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}/*# sourceMappingURL=main-styling.css.map */